wsdls/Account.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema>
      <xs:element name="CreateAFulfillmentPolicyRestRequest" type="ns:CreateAFulfillmentPolicyRestRequest"/>
      <xs:element name="CreateAFulfillmentPolicyRestResponse" type="ns:CreateAFulfillmentPolicyRestResponse"/>
      <xs:complexType name="CreateAFulfillmentPolicyRestRequest">
        <xs:complexContent>
          <xs:extension base="ns:FulfillmentPolicyRequest">
    </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="CreateAFulfillmentPolicyRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:SetFulfillmentPolicyResponse">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="DeleteAFulfillmentPolicyRestRequest" type="ns:DeleteAFulfillmentPolicyRestRequest"/>
      <xs:element name="DeleteAFulfillmentPolicyRestResponse" type="ns:DeleteAFulfillmentPolicyRestResponse"/>
      <xs:complexType name="DeleteAFulfillmentPolicyRestRequest">
        <xs:sequence>
          <xs:element name="fulfillmentPolicyId" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DeleteAFulfillmentPolicyRestResponse" restResponse="true">
        <xs:sequence>
          <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
          <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetFulfillmentPoliciesByMarketplaceRestRequest" type="ns:GetFulfillmentPoliciesByMarketplaceRestRequest"/>
      <xs:element name="GetFulfillmentPoliciesByMarketplaceRestResponse" type="ns:GetFulfillmentPoliciesByMarketplaceRestResponse"/>
      <xs:complexType name="GetFulfillmentPoliciesByMarketplaceRestRequest">
        <xs:sequence>
          <xs:element name="marketplace_id" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetFulfillmentPoliciesByMarketplaceRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:FulfillmentPolicyResponse">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="GetAFulfillmentPolicyByIDRestRequest" type="ns:GetAFulfillmentPolicyByIDRestRequest"/>
      <xs:element name="GetAFulfillmentPolicyByIDRestResponse" type="ns:GetAFulfillmentPolicyByIDRestResponse"/>
      <xs:complexType name="GetAFulfillmentPolicyByIDRestRequest">
        <xs:sequence>
          <xs:element name="fulfillmentPolicyId" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetAFulfillmentPolicyByIDRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:FulfillmentPolicy">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="GetAFulfillmentPolicyByNameRestRequest" type="ns:GetAFulfillmentPolicyByNameRestRequest"/>
      <xs:element name="GetAFulfillmentPolicyByNameRestResponse" type="ns:GetAFulfillmentPolicyByNameRestResponse"/>
      <xs:complexType name="GetAFulfillmentPolicyByNameRestRequest">
        <xs:sequence>
          <xs:element name="marketplace_id" type="xs:string" valid="string" required="true"/>
          <xs:element name="name" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetAFulfillmentPolicyByNameRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:FulfillmentPolicy">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="UpdateAFulfillmentPolicyRestRequest" type="ns:UpdateAFulfillmentPolicyRestRequest"/>
      <xs:element name="UpdateAFulfillmentPolicyRestResponse" type="ns:UpdateAFulfillmentPolicyRestResponse"/>
      <xs:complexType name="UpdateAFulfillmentPolicyRestRequest">
        <xs:complexContent>
          <xs:extension base="ns:FulfillmentPolicyRequest">
            <xs:sequence>
              <xs:element name="fulfillmentPolicyId" type="xs:string" valid="string" required="true"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="UpdateAFulfillmentPolicyRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:SetFulfillmentPolicyResponse">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="CreateAPaymentPolicyRestRequest" type="ns:CreateAPaymentPolicyRestRequest"/>
      <xs:element name="CreateAPaymentPolicyRestResponse" type="ns:CreateAPaymentPolicyRestResponse"/>
      <xs:complexType name="CreateAPaymentPolicyRestRequest">
        <xs:complexContent>
          <xs:extension base="ns:PaymentPolicyRequest">
    </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="CreateAPaymentPolicyRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:SetPaymentPolicyResponse">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="DeleteAPaymentPolicyRestRequest" type="ns:DeleteAPaymentPolicyRestRequest"/>
      <xs:element name="DeleteAPaymentPolicyRestResponse" type="ns:DeleteAPaymentPolicyRestResponse"/>
      <xs:complexType name="DeleteAPaymentPolicyRestRequest">
        <xs:sequence>
          <xs:element name="payment_policy_id" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DeleteAPaymentPolicyRestResponse" restResponse="true">
        <xs:sequence>
          <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
          <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetPaymentPoliciesByMarketplaceRestRequest" type="ns:GetPaymentPoliciesByMarketplaceRestRequest"/>
      <xs:element name="GetPaymentPoliciesByMarketplaceRestResponse" type="ns:GetPaymentPoliciesByMarketplaceRestResponse"/>
      <xs:complexType name="GetPaymentPoliciesByMarketplaceRestRequest">
        <xs:sequence>
          <xs:element name="marketplace_id" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetPaymentPoliciesByMarketplaceRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:PaymentPolicyResponse">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="GetAPaymentPolicyByIDRestRequest" type="ns:GetAPaymentPolicyByIDRestRequest"/>
      <xs:element name="GetAPaymentPolicyByIDRestResponse" type="ns:GetAPaymentPolicyByIDRestResponse"/>
      <xs:complexType name="GetAPaymentPolicyByIDRestRequest">
        <xs:sequence>
          <xs:element name="paymentPolicyId" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetAPaymentPolicyByIDRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:PaymentPolicy">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="GetAPaymentPolicyByNameRestRequest" type="ns:GetAPaymentPolicyByNameRestRequest"/>
      <xs:element name="GetAPaymentPolicyByNameRestResponse" type="ns:GetAPaymentPolicyByNameRestResponse"/>
      <xs:complexType name="GetAPaymentPolicyByNameRestRequest">
        <xs:sequence>
          <xs:element name="marketplace_id" type="xs:string" valid="string" required="true"/>
          <xs:element name="name" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetAPaymentPolicyByNameRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:PaymentPolicy">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="UpdateAPaymentPolicyRestRequest" type="ns:UpdateAPaymentPolicyRestRequest"/>
      <xs:element name="UpdateAPaymentPolicyRestResponse" type="ns:UpdateAPaymentPolicyRestResponse"/>
      <xs:complexType name="UpdateAPaymentPolicyRestRequest">
        <xs:complexContent>
          <xs:extension base="ns:PaymentPolicyRequest">
            <xs:sequence>
              <xs:element name="payment_policy_id" type="xs:string" valid="string" required="true"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="UpdateAPaymentPolicyRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:SetPaymentPolicyResponse">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="GetAccountPrivilegesRestResponse" type="ns:GetAccountPrivilegesRestResponse"/>
      <xs:complexType name="GetAccountPrivilegesRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:SellingPrivileges">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="GetOptedInProgramsRestResponse" type="ns:GetOptedInProgramsRestResponse"/>
      <xs:complexType name="GetOptedInProgramsRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:Programs">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="OptInToProgramRestRequest" type="ns:OptInToProgramRestRequest"/>
      <xs:element name="OptInToProgramRestResponse" type="ns:OptInToProgramRestResponse"/>
      <xs:complexType name="OptInToProgramRestRequest">
        <xs:complexContent>
          <xs:extension base="ns:Program">
    </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="OptInToProgramRestResponse" restResponse="true">
        <xs:sequence>
          <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
          <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="OptOutOfProgramRestRequest" type="ns:OptOutOfProgramRestRequest"/>
      <xs:element name="OptOutOfProgramRestResponse" type="ns:OptOutOfProgramRestResponse"/>
      <xs:complexType name="OptOutOfProgramRestRequest">
        <xs:complexContent>
          <xs:extension base="ns:Program">
    </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="OptOutOfProgramRestResponse" restResponse="true">
        <xs:sequence>
          <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
          <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetShippingRateTablesRestRequest" type="ns:GetShippingRateTablesRestRequest"/>
      <xs:element name="GetShippingRateTablesRestResponse" type="ns:GetShippingRateTablesRestResponse"/>
      <xs:complexType name="GetShippingRateTablesRestRequest">
        <xs:sequence>
          <xs:element name="country_code" type="xs:string" valid="string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetShippingRateTablesRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:RateTableResponse">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="CreateAReturnPolicyRestRequest" type="ns:CreateAReturnPolicyRestRequest"/>
      <xs:element name="CreateAReturnPolicyRestResponse" type="ns:CreateAReturnPolicyRestResponse"/>
      <xs:complexType name="CreateAReturnPolicyRestRequest">
        <xs:complexContent>
          <xs:extension base="ns:ReturnPolicyRequest">
    </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="CreateAReturnPolicyRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:SetReturnPolicyResponse">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="DeleteAReturnPolicyRestRequest" type="ns:DeleteAReturnPolicyRestRequest"/>
      <xs:element name="DeleteAReturnPolicyRestResponse" type="ns:DeleteAReturnPolicyRestResponse"/>
      <xs:complexType name="DeleteAReturnPolicyRestRequest">
        <xs:sequence>
          <xs:element name="return_policy_id" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DeleteAReturnPolicyRestResponse" restResponse="true">
        <xs:sequence>
          <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
          <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetReturnPoliciesByMarketplaceRestRequest" type="ns:GetReturnPoliciesByMarketplaceRestRequest"/>
      <xs:element name="GetReturnPoliciesByMarketplaceRestResponse" type="ns:GetReturnPoliciesByMarketplaceRestResponse"/>
      <xs:complexType name="GetReturnPoliciesByMarketplaceRestRequest">
        <xs:sequence>
          <xs:element name="marketplace_id" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetReturnPoliciesByMarketplaceRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:ReturnPolicyResponse">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="GetAReturnPolicyByIDRestRequest" type="ns:GetAReturnPolicyByIDRestRequest"/>
      <xs:element name="GetAReturnPolicyByIDRestResponse" type="ns:GetAReturnPolicyByIDRestResponse"/>
      <xs:complexType name="GetAReturnPolicyByIDRestRequest">
        <xs:sequence>
          <xs:element name="returnPolicyId" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetAReturnPolicyByIDRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:ReturnPolicy">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="GetAReturnPolicyByNameRestRequest" type="ns:GetAReturnPolicyByNameRestRequest"/>
      <xs:element name="GetAReturnPolicyByNameRestResponse" type="ns:GetAReturnPolicyByNameRestResponse"/>
      <xs:complexType name="GetAReturnPolicyByNameRestRequest">
        <xs:sequence>
          <xs:element name="marketplace_id" type="xs:string" valid="string" required="true"/>
          <xs:element name="name" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetAReturnPolicyByNameRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:ReturnPolicy">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="UpdateAReturnPolicyRestRequest" type="ns:UpdateAReturnPolicyRestRequest"/>
      <xs:element name="UpdateAReturnPolicyRestResponse" type="ns:UpdateAReturnPolicyRestResponse"/>
      <xs:complexType name="UpdateAReturnPolicyRestRequest">
        <xs:complexContent>
          <xs:extension base="ns:ReturnPolicyRequest">
            <xs:sequence>
              <xs:element name="return_policy_id" type="xs:string" valid="string" required="true"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="UpdateAReturnPolicyRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:SetReturnPolicyResponse">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="CreateASalesTaxTableRestRequest" type="ns:CreateASalesTaxTableRestRequest"/>
      <xs:element name="CreateASalesTaxTableRestResponse" type="ns:CreateASalesTaxTableRestResponse"/>
      <xs:complexType name="CreateASalesTaxTableRestRequest">
        <xs:complexContent>
          <xs:extension base="ns:SalesTaxBase">
            <xs:sequence>
              <xs:element name="countryCode" type="xs:string" valid="string" required="true"/>
              <xs:element name="jurisdictionId" type="xs:string" valid="string" required="true"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="CreateASalesTaxTableRestResponse" restResponse="true">
        <xs:sequence>
          <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
          <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="DeleteASalesTaxTableRestRequest" type="ns:DeleteASalesTaxTableRestRequest"/>
      <xs:element name="DeleteASalesTaxTableRestResponse" type="ns:DeleteASalesTaxTableRestResponse"/>
      <xs:complexType name="DeleteASalesTaxTableRestRequest">
        <xs:sequence>
          <xs:element name="countryCode" type="xs:string" valid="string" required="true"/>
          <xs:element name="jurisdictionId" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DeleteASalesTaxTableRestResponse" restResponse="true">
        <xs:sequence>
          <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
          <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetASalesTaxTableRestRequest" type="ns:GetASalesTaxTableRestRequest"/>
      <xs:element name="GetASalesTaxTableRestResponse" type="ns:GetASalesTaxTableRestResponse"/>
      <xs:complexType name="GetASalesTaxTableRestRequest">
        <xs:sequence>
          <xs:element name="countryCode" type="xs:string" valid="string" required="true"/>
          <xs:element name="jurisdictionId" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetASalesTaxTableRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:SalesTax">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="GetAllSalesTaxTablesRestRequest" type="ns:GetAllSalesTaxTablesRestRequest"/>
      <xs:element name="GetAllSalesTaxTablesRestResponse" type="ns:GetAllSalesTaxTablesRestResponse"/>
      <xs:complexType name="GetAllSalesTaxTablesRestRequest">
        <xs:sequence>
          <xs:element name="country_code" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetAllSalesTaxTablesRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:SalesTaxes">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:documentation>
    <Version>v1</Version>
  </wsdl:documentation>
  <wsdl:portType>
    <wsdl:operation name="CreateAFulfillmentPolicy" method="POST" resource="fulfillment_policy">
      <wsdl:input message="ns:CreateAFulfillmentPolicyRestRequest"/>
      <wsdl:output message="ns:CreateAFulfillmentPolicyRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="DeleteAFulfillmentPolicy" method="DELETE" resource="fulfillment_policy/{fulfillmentPolicyId}">
      <wsdl:input message="ns:DeleteAFulfillmentPolicyRestRequest"/>
      <wsdl:output message="ns:DeleteAFulfillmentPolicyRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetFulfillmentPoliciesByMarketplace" method="GET" resource="fulfillment_policy">
      <wsdl:input message="ns:GetFulfillmentPoliciesByMarketplaceRestRequest"/>
      <wsdl:output message="ns:GetFulfillmentPoliciesByMarketplaceRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetAFulfillmentPolicyByID" method="GET" resource="fulfillment_policy/{fulfillmentPolicyId}">
      <wsdl:input message="ns:GetAFulfillmentPolicyByIDRestRequest"/>
      <wsdl:output message="ns:GetAFulfillmentPolicyByIDRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetAFulfillmentPolicyByName" method="GET" resource="fulfillment_policy/get_by_policy_name">
      <wsdl:input message="ns:GetAFulfillmentPolicyByNameRestRequest"/>
      <wsdl:output message="ns:GetAFulfillmentPolicyByNameRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="UpdateAFulfillmentPolicy" method="PUT" resource="fulfillment_policy/{fulfillmentPolicyId}">
      <wsdl:input message="ns:UpdateAFulfillmentPolicyRestRequest"/>
      <wsdl:output message="ns:UpdateAFulfillmentPolicyRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="CreateAPaymentPolicy" method="POST" resource="payment_policy">
      <wsdl:input message="ns:CreateAPaymentPolicyRestRequest"/>
      <wsdl:output message="ns:CreateAPaymentPolicyRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="DeleteAPaymentPolicy" method="DELETE" resource="payment_policy/{payment_policy_id}">
      <wsdl:input message="ns:DeleteAPaymentPolicyRestRequest"/>
      <wsdl:output message="ns:DeleteAPaymentPolicyRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetPaymentPoliciesByMarketplace" method="GET" resource="payment_policy">
      <wsdl:input message="ns:GetPaymentPoliciesByMarketplaceRestRequest"/>
      <wsdl:output message="ns:GetPaymentPoliciesByMarketplaceRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetAPaymentPolicyByID" method="GET" resource="payment_policy/{paymentPolicyId}">
      <wsdl:input message="ns:GetAPaymentPolicyByIDRestRequest"/>
      <wsdl:output message="ns:GetAPaymentPolicyByIDRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetAPaymentPolicyByName" method="GET" resource="payment_policy/get_by_policy_name">
      <wsdl:input message="ns:GetAPaymentPolicyByNameRestRequest"/>
      <wsdl:output message="ns:GetAPaymentPolicyByNameRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="UpdateAPaymentPolicy" method="PUT" resource="payment_policy/{payment_policy_id}">
      <wsdl:input message="ns:UpdateAPaymentPolicyRestRequest"/>
      <wsdl:output message="ns:UpdateAPaymentPolicyRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetAccountPrivileges" method="GET" resource="privilege">
      <wsdl:output message="ns:GetAccountPrivilegesRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetOptedInPrograms" method="GET" resource="program/get_opted_in_programs">
      <wsdl:output message="ns:GetOptedInProgramsRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="OptInToProgram" method="POST" resource="program/opt_in">
      <wsdl:input message="ns:OptInToProgramRestRequest"/>
      <wsdl:output message="ns:OptInToProgramRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="OptOutOfProgram" method="POST" resource="program/opt_out">
      <wsdl:input message="ns:OptOutOfProgramRestRequest"/>
      <wsdl:output message="ns:OptOutOfProgramRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetShippingRateTables" method="POST" resource="rate_table">
      <wsdl:input message="ns:GetShippingRateTablesRestRequest"/>
      <wsdl:output message="ns:GetShippingRateTablesRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="CreateAReturnPolicy" method="POST" resource="return_policy">
      <wsdl:input message="ns:CreateAReturnPolicyRestRequest"/>
      <wsdl:output message="ns:CreateAReturnPolicyRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="DeleteAReturnPolicy" method="DELETE" resource="return_policy/{return_policy_id}">
      <wsdl:input message="ns:DeleteAReturnPolicyRestRequest"/>
      <wsdl:output message="ns:DeleteAReturnPolicyRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetReturnPoliciesByMarketplace" method="GET" resource="return_policy">
      <wsdl:input message="ns:GetReturnPoliciesByMarketplaceRestRequest"/>
      <wsdl:output message="ns:GetReturnPoliciesByMarketplaceRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetAReturnPolicyByID" method="GET" resource="return_policy/{returnPolicyId}">
      <wsdl:input message="ns:GetAReturnPolicyByIDRestRequest"/>
      <wsdl:output message="ns:GetAReturnPolicyByIDRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetAReturnPolicyByName" method="GET" resource="return_policy/get_by_policy_name">
      <wsdl:input message="ns:GetAReturnPolicyByNameRestRequest"/>
      <wsdl:output message="ns:GetAReturnPolicyByNameRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="UpdateAReturnPolicy" method="PUT" resource="return_policy/{return_policy_id}">
      <wsdl:input message="ns:UpdateAReturnPolicyRestRequest"/>
      <wsdl:output message="ns:UpdateAReturnPolicyRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="CreateASalesTaxTable" method="PUT" resource="sales_tax/{countryCode}/{jurisdictionId}">
      <wsdl:input message="ns:CreateASalesTaxTableRestRequest"/>
      <wsdl:output message="ns:CreateASalesTaxTableRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="DeleteASalesTaxTable" method="DELETE" resource="sales_tax/{countryCode}/{jurisdictionId}">
      <wsdl:input message="ns:DeleteASalesTaxTableRestRequest"/>
      <wsdl:output message="ns:DeleteASalesTaxTableRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetASalesTaxTable" method="GET" resource="sales_tax/{countryCode}/{jurisdictionId}">
      <wsdl:input message="ns:GetASalesTaxTableRestRequest"/>
      <wsdl:output message="ns:GetASalesTaxTableRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetAllSalesTaxTables" method="GET" resource="sales_tax">
      <wsdl:input message="ns:GetAllSalesTaxTablesRestRequest"/>
      <wsdl:output message="ns:GetAllSalesTaxTablesRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
