wsdls/Analytics.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema>
      <xs:element name="GetASpecificSellerProfileRestRequest" type="ns:GetASpecificSellerProfileRestRequest"/>
      <xs:element name="GetASpecificSellerProfileRestResponse" type="ns:GetASpecificSellerProfileRestResponse"/>
      <xs:complexType name="GetASpecificSellerProfileRestRequest">
        <xs:sequence>
          <xs:element name="cycle" type="xs:string" valid="string" required="true"/>
          <xs:element name="program" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetASpecificSellerProfileRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:StandardsProfile">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="GetAllSellerProfilesRestResponse" type="ns:GetAllSellerProfilesRestResponse"/>
      <xs:complexType name="GetAllSellerProfilesRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:FindSellerStandardsProfilesResponse">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="GetTrafficReportRestRequest" type="ns:GetTrafficReportRestRequest"/>
      <xs:element name="GetTrafficReportRestResponse" type="ns:GetTrafficReportRestResponse"/>
      <xs:complexType name="GetTrafficReportRestRequest">
        <xs:sequence>
          <xs:element name="dimension" type="xs:string" valid="string" required="true"/>
          <xs:element name="filter" type="xs:string" valid="string"/>
          <xs:element name="metric" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetTrafficReportRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:Report">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:documentation>
    <Version>v1</Version>
  </wsdl:documentation>
  <wsdl:portType>
    <wsdl:operation name="GetASpecificSellerProfile" method="GET" resource="seller_standards_profile/{program}/{cycle}">
      <wsdl:input message="ns:GetASpecificSellerProfileRestRequest"/>
      <wsdl:output message="ns:GetASpecificSellerProfileRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetAllSellerProfiles" method="GET" resource="seller_standards_profile">
      <wsdl:output message="ns:GetAllSellerProfilesRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetTrafficReport" method="GET" resource="traffic_report">
      <wsdl:input message="ns:GetTrafficReportRestRequest"/>
      <wsdl:output message="ns:GetTrafficReportRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
