wsdls/Browse.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema>
      <xs:element name="GetItemRestRequest" type="ns:GetItemRestRequest"/>
      <xs:element name="GetItemRestResponse" type="ns:GetItemRestResponse"/>
      <xs:complexType name="GetItemRestRequest">
        <xs:sequence>
          <xs:element name="item_id" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetItemRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:Item">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="GetItemByLegacyIdRestRequest" type="ns:GetItemByLegacyIdRestRequest"/>
      <xs:element name="GetItemByLegacyIdRestResponse" type="ns:GetItemByLegacyIdRestResponse"/>
      <xs:complexType name="GetItemByLegacyIdRestRequest">
        <xs:sequence>
          <xs:element name="legacy_item_id" type="xs:string" valid="string" required="true"/>
          <xs:element name="legacy_variation_id" type="xs:string" valid="string"/>
          <xs:element name="legacy_variation_sku" type="xs:string" valid="string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetItemByLegacyIdRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:Item">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="GetItemsByItemGroupRestRequest" type="ns:GetItemsByItemGroupRestRequest"/>
      <xs:element name="GetItemsByItemGroupRestResponse" type="ns:GetItemsByItemGroupRestResponse"/>
      <xs:complexType name="GetItemsByItemGroupRestRequest">
        <xs:sequence>
          <xs:element name="item_group_id" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetItemsByItemGroupRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:Items">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="SearchForItemsRestResponse" type="ns:SearchForItemsRestResponse"/>
      <xs:element name="SearchForItemsRestRequest" type="ns:SearchForItemsRestRequest"/>
      <xs:complexType name="SearchForItemsRestRequest">
        <xs:sequence>
          <xs:element name="aspect_filter" type="xs:string" valid="string"/>
          <xs:element name="category_ids" type="xs:string" valid="string"/>
          <xs:element name="epid" type="xs:string" valid="string"/>
          <xs:element name="fieldgroups" type="xs:string" valid="string"/>
          <xs:element name="filter" type="xs:string" valid="string"/>
          <xs:element name="gtin" type="xs:string" valid="string"/>
          <xs:element name="limit" type="xs:string" valid="string"/>
          <xs:element name="offset" type="xs:string" valid="string"/>
          <xs:element name="q" type="xs:string" valid="string"/>
          <xs:element name="sort" type="xs:string" valid="string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SearchForItemsRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:SearchPagedCollection">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:documentation>
    <Version>v1</Version>
  </wsdl:documentation>
  <wsdl:portType>
    <wsdl:operation name="GetItem" method="GET" resource="item/{item_id}">
      <wsdl:input message="ns:GetItemRestRequest"/>
      <wsdl:output message="ns:GetItemRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetItemByLegacyId" method="GET" resource="item/get_item_by_legacy_id">
      <wsdl:input message="ns:GetItemByLegacyIdRestRequest"/>
      <wsdl:output message="ns:GetItemByLegacyIdRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetItemsByItemGroup" method="GET" resource="item/get_items_by_item_group">
      <wsdl:input message="ns:GetItemsByItemGroupRestRequest"/>
      <wsdl:output message="ns:GetItemsByItemGroupRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="SearchForItems" method="GET" resource="item_summary/search">
      <wsdl:input message="ns:SearchForItemsRestRequest"/>
      <wsdl:output message="ns:SearchForItemsRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
