wsdls/Fulfillment.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema>
      <xs:element name="GetOrdersRestRequest" type="ns:GetOrdersRestRequest"/>
      <xs:element name="GetOrdersRestResponse" type="ns:GetOrdersRestResponse"/>
      <xs:complexType name="GetOrdersRestRequest">
        <xs:sequence>
          <xs:element name="filter" type="xs:string" valid="string"/>
          <xs:element name="limit" type="xs:string" valid="string"/>
          <xs:element name="offset" type="xs:string" valid="string"/>
          <xs:element name="orderIds" type="xs:string" valid="string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetOrdersRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:OrderSearchPagedCollection">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="GetAnOrderRestRequest" type="ns:GetAnOrderRestRequest"/>
      <xs:element name="GetAnOrderRestResponse" type="ns:GetAnOrderRestResponse"/>
      <xs:complexType name="GetAnOrderRestRequest">
        <xs:sequence>
          <xs:element name="orderId" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetAnOrderRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:Order">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="CreateAShippingFulfillmentRestRequest" type="ns:CreateAShippingFulfillmentRestRequest"/>
      <xs:element name="CreateAShippingFulfillmentRestResponse" type="ns:CreateAShippingFulfillmentRestResponse"/>
      <xs:complexType name="CreateAShippingFulfillmentRestRequest">
        <xs:complexContent>
          <xs:extension base="ns:ShippingFulfillmentDetails">
            <xs:sequence>
              <xs:element name="orderId" type="xs:string" valid="string" required="true"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="CreateAShippingFulfillmentRestResponse" restResponse="true">
        <xs:sequence>
          <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
          <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetShippingFulfillmentsRestRequest" type="ns:GetShippingFulfillmentsRestRequest"/>
      <xs:element name="GetShippingFulfillmentsRestResponse" type="ns:GetShippingFulfillmentsRestResponse"/>
      <xs:complexType name="GetShippingFulfillmentsRestRequest">
        <xs:sequence>
          <xs:element name="orderId" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetShippingFulfillmentsRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:ShippingFulfillmentPagedCollection">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="GetAShippingFulfillmentRestRequest" type="ns:GetAShippingFulfillmentRestRequest"/>
      <xs:element name="GetAShippingFulfillmentRestResponse" type="ns:GetAShippingFulfillmentRestResponse"/>
      <xs:complexType name="GetAShippingFulfillmentRestRequest">
        <xs:sequence>
          <xs:element name="fulfillmentId" type="xs:string" valid="string" required="true"/>
          <xs:element name="orderId" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetAShippingFulfillmentRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:ShippingFulfillment">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:documentation>
    <Version>v1</Version>
  </wsdl:documentation>
  <wsdl:portType>
    <wsdl:operation name="GetOrders" method="GET" resource="order">
      <wsdl:input message="ns:GetOrdersRestRequest"/>
      <wsdl:output message="ns:GetOrdersRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetAnOrder" method="GET" resource="order/{orderId}">
      <wsdl:input message="ns:GetAnOrderRestRequest"/>
      <wsdl:output message="ns:GetAnOrderRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="CreateAShippingFulfillment" method="POST" resource="order/{orderId}/shipping_fulfillment">
      <wsdl:input message="ns:CreateAShippingFulfillmentRestRequest"/>
      <wsdl:output message="ns:CreateAShippingFulfillmentRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetShippingFulfillments" method="GET" resource="order/{orderId}/shipping_fulfillment">
      <wsdl:input message="ns:GetShippingFulfillmentsRestRequest"/>
      <wsdl:output message="ns:GetShippingFulfillmentsRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetAShippingFulfillment" method="GET" resource="order/{orderId}/shipping_fulfillment/{fulfillmentId}">
      <wsdl:input message="ns:GetAShippingFulfillmentRestRequest"/>
      <wsdl:output message="ns:GetAShippingFulfillmentRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
