wsdls/Inventory.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema>
      <xs:complexType name="ErrorParameterV3">
        <xs:sequence>
          <xs:element name="name" type="xs:string"/>
          <xs:element name="value" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="BulkUpdatePriceAndQuantityRestRequest" type="ns:BulkUpdatePriceAndQuantityRestRequest"/>
      <xs:element name="BulkUpdatePriceAndQuantityRestResponse" type="ns:BulkUpdatePriceAndQuantityRestResponse"/>
      <xs:complexType name="BulkUpdatePriceAndQuantityRestRequest">
        <xs:complexContent>
          <xs:extension base="ns:BulkPriceQuantity">
    </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="BulkUpdatePriceAndQuantityRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:BulkPriceQuantityResponse">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="CreateOrReplaceInventoryItemRestRequest" type="ns:CreateOrReplaceInventoryItemRestRequest"/>
      <xs:element name="CreateOrReplaceInventoryItemRestResponse" type="ns:CreateOrReplaceInventoryItemRestResponse"/>
      <xs:complexType name="CreateOrReplaceInventoryItemRestRequest">
        <xs:complexContent>
          <xs:extension base="ns:InventoryItem">
            <xs:sequence>
              <xs:element name="sku" type="xs:string" valid="string" required="true"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="CreateOrReplaceInventoryItemRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:BaseResponse">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="DeleteInventoryItemRestRequest" type="ns:DeleteInventoryItemRestRequest"/>
      <xs:element name="DeleteInventoryItemRestResponse" type="ns:DeleteInventoryItemRestResponse"/>
      <xs:complexType name="DeleteInventoryItemRestRequest">
        <xs:sequence>
          <xs:element name="sku" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DeleteInventoryItemRestResponse" restResponse="true">
        <xs:sequence>
          <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
          <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetInventoryItemRestRequest" type="ns:GetInventoryItemRestRequest"/>
      <xs:element name="GetInventoryItemRestResponse" type="ns:GetInventoryItemRestResponse"/>
      <xs:complexType name="GetInventoryItemRestRequest">
        <xs:sequence>
          <xs:element name="sku" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetInventoryItemRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:InventoryItem">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="GetInventoryItemsRestRequest" type="ns:GetInventoryItemsRestRequest"/>
      <xs:element name="GetInventoryItemsRestResponse" type="ns:GetInventoryItemsRestResponse"/>
      <xs:complexType name="GetInventoryItemsRestRequest">
        <xs:sequence>
          <xs:element name="limit" type="xs:string" valid="string"/>
          <xs:element name="offset" type="xs:string" valid="string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetInventoryItemsRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:InventoryItems">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="CreateOrReplaceInventoryItemGroupRestRequest" type="ns:CreateOrReplaceInventoryItemGroupRestRequest"/>
      <xs:element name="CreateOrReplaceInventoryItemGroupRestResponse" type="ns:CreateOrReplaceInventoryItemGroupRestResponse"/>
      <xs:complexType name="CreateOrReplaceInventoryItemGroupRestRequest">
        <xs:complexContent>
          <xs:extension base="ns:InventoryItemGroup">
            <xs:sequence>
              <xs:element name="inventoryItemGroupKey" type="xs:string" valid="string" required="true"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="CreateOrReplaceInventoryItemGroupRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:BaseResponse">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="DeleteInventoryItemGroupRestRequest" type="ns:DeleteInventoryItemGroupRestRequest"/>
      <xs:element name="DeleteInventoryItemGroupRestResponse" type="ns:DeleteInventoryItemGroupRestResponse"/>
      <xs:complexType name="DeleteInventoryItemGroupRestRequest">
        <xs:sequence>
          <xs:element name="inventoryItemGroupKey" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DeleteInventoryItemGroupRestResponse" restResponse="true">
        <xs:sequence>
          <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
          <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetInventoryItemGroupRestRequest" type="ns:GetInventoryItemGroupRestRequest"/>
      <xs:element name="GetInventoryItemGroupRestResponse" type="ns:GetInventoryItemGroupRestResponse"/>
      <xs:complexType name="GetInventoryItemGroupRestRequest">
        <xs:sequence>
          <xs:element name="inventoryItemGroupKey" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetInventoryItemGroupRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:InventoryItemGroup">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="BulkMigrateListingsRestRequest" type="ns:BulkMigrateListingsRestRequest"/>
      <xs:element name="BulkMigrateListingsRestResponse" type="ns:BulkMigrateListingsRestResponse"/>
      <xs:complexType name="BulkMigrateListingsRestRequest">
        <xs:complexContent>
          <xs:extension base="ns:BulkMigrateListing"/>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="BulkMigrateListingsRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:BulkMigrateListingResponse">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="CreateInventoryLocationRestRequest" type="ns:CreateInventoryLocationRestRequest"/>
      <xs:element name="CreateInventoryLocationRestResponse" type="ns:CreateInventoryLocationRestResponse"/>
      <xs:complexType name="CreateInventoryLocationRestRequest">
        <xs:complexContent>
          <xs:extension base="ns:InventoryLocationFull">
            <xs:sequence>
              <xs:element name="merchantLocationKey" type="xs:string" valid="string" required="true"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="CreateInventoryLocationRestResponse" restResponse="true">
        <xs:sequence>
          <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
          <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="DeleteInventoryLocationRestRequest" type="ns:DeleteInventoryLocationRestRequest"/>
      <xs:element name="DeleteInventoryLocationRestResponse" type="ns:DeleteInventoryLocationRestResponse"/>
      <xs:complexType name="DeleteInventoryLocationRestRequest">
        <xs:sequence>
          <xs:element name="merchantLocationKey" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DeleteInventoryLocationRestResponse" restResponse="true">
        <xs:sequence>
          <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
          <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="DisableInventoryLocationRestRequest" type="ns:DisableInventoryLocationRestRequest"/>
      <xs:element name="DisableInventoryLocationRestResponse" type="ns:DisableInventoryLocationRestResponse"/>
      <xs:complexType name="DisableInventoryLocationRestRequest">
        <xs:sequence>
          <xs:element name="merchantLocationKey" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DisableInventoryLocationRestResponse" restResponse="true">
        <xs:sequence>
          <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
          <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="EnableInventoryLocationRestRequest" type="ns:EnableInventoryLocationRestRequest"/>
      <xs:element name="EnableInventoryLocationRestResponse" type="ns:EnableInventoryLocationRestResponse"/>
      <xs:complexType name="EnableInventoryLocationRestRequest">
        <xs:sequence>
          <xs:element name="merchantLocationKey" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="EnableInventoryLocationRestResponse" restResponse="true">
        <xs:sequence>
          <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
          <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetInventoryLocationRestRequest" type="ns:GetInventoryLocationRestRequest"/>
      <xs:element name="GetInventoryLocationRestResponse" type="ns:GetInventoryLocationRestResponse"/>
      <xs:complexType name="GetInventoryLocationRestRequest">
        <xs:sequence>
          <xs:element name="merchantLocationKey" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetInventoryLocationRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:InventoryLocationResponse">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="GetInventoryLocationsRestRequest" type="ns:GetInventoryLocationsRestRequest"/>
      <xs:element name="GetInventoryLocationsRestResponse" type="ns:GetInventoryLocationsRestResponse"/>
      <xs:complexType name="GetInventoryLocationsRestRequest">
        <xs:sequence>
          <xs:element name="limit" type="xs:string" valid="string"/>
          <xs:element name="offset" type="xs:string" valid="string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetInventoryLocationsRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:LocationResponse">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="UpdateInventoryLocationRestRequest" type="ns:UpdateInventoryLocationRestRequest"/>
      <xs:element name="UpdateInventoryLocationRestResponse" type="ns:UpdateInventoryLocationRestResponse"/>
      <xs:complexType name="UpdateInventoryLocationRestRequest">
        <xs:complexContent>
          <xs:extension base="ns:InventoryLocation">
            <xs:sequence>
              <xs:element name="merchantLocationKey" type="xs:string" valid="string" required="true"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="UpdateInventoryLocationRestResponse" restResponse="true">
        <xs:sequence>
          <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
          <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="CreateOfferRestRequest" type="ns:CreateOfferRestRequest"/>
      <xs:element name="CreateOfferRestResponse" type="ns:CreateOfferRestResponse"/>
      <xs:complexType name="CreateOfferRestRequest">
        <xs:complexContent>
          <xs:extension base="ns:EbayOfferDetailsWithKeys">
    </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="CreateOfferRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:OfferResponse">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="DeleteOfferRestRequest" type="ns:DeleteOfferRestRequest"/>
      <xs:element name="DeleteOfferRestResponse" type="ns:DeleteOfferRestResponse"/>
      <xs:complexType name="DeleteOfferRestRequest">
        <xs:sequence>
          <xs:element name="offerId" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DeleteOfferRestResponse" restResponse="true">
        <xs:sequence>
          <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
          <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetListingFeesRestRequest" type="ns:GetListingFeesRestRequest"/>
      <xs:element name="GetListingFeesRestResponse" type="ns:GetListingFeesRestResponse"/>
      <xs:complexType name="GetListingFeesRestRequest">
        <xs:complexContent>
          <xs:extension base="ns:OfferKeysWithId">
    </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="GetListingFeesRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:FeesSummaryResponse">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="GetOfferRestRequest" type="ns:GetOfferRestRequest"/>
      <xs:element name="GetOfferRestResponse" type="ns:GetOfferRestResponse"/>
      <xs:complexType name="GetOfferRestRequest">
        <xs:sequence>
          <xs:element name="offerId" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetOfferRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:EbayOfferDetailsWithAll">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="GetOffersRestRequest" type="ns:GetOffersRestRequest"/>
      <xs:element name="GetOffersRestResponse" type="ns:GetOffersRestResponse"/>
      <xs:complexType name="GetOffersRestRequest">
        <xs:sequence>
          <xs:element name="format" type="xs:string" valid="string"/>
          <xs:element name="limit" type="xs:string" valid="string"/>
          <xs:element name="marketplace_id" type="xs:string" valid="string"/>
          <xs:element name="offset" type="xs:string" valid="string"/>
          <xs:element name="sku" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetOffersRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:Offers">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="PublishOfferRestRequest" type="ns:PublishOfferRestRequest"/>
      <xs:element name="PublishOfferRestResponse" type="ns:PublishOfferRestResponse"/>
      <xs:complexType name="PublishOfferRestRequest">
        <xs:sequence>
          <xs:element name="offerId" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PublishOfferRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:PublishResponse">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="UpdateOfferRestRequest" type="ns:UpdateOfferRestRequest"/>
      <xs:element name="UpdateOfferRestResponse" type="ns:UpdateOfferRestResponse"/>
      <xs:complexType name="UpdateOfferRestRequest">
        <xs:complexContent>
          <xs:extension base="ns:EbayOfferDetailsWithId">
            <xs:sequence>
              <xs:element name="offerId" type="xs:string" valid="string" required="true"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="UpdateOfferRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:OfferResponse">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="CreateOrReplaceProductCompatibilityRestRequest" type="ns:CreateOrReplaceProductCompatibilityRestRequest"/>
      <xs:element name="CreateOrReplaceProductCompatibilityRestResponse" type="ns:CreateOrReplaceProductCompatibilityRestResponse"/>
      <xs:complexType name="CreateOrReplaceProductCompatibilityRestRequest">
        <xs:complexContent>
          <xs:extension base="ns:Compatibility">
            <xs:sequence>
              <xs:element name="sku" type="xs:string" valid="string" required="true"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="CreateOrReplaceProductCompatibilityRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:BaseResponse">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="DeleteProductCompatibilityRestRequest" type="ns:DeleteProductCompatibilityRestRequest"/>
      <xs:element name="DeleteProductCompatibilityRestResponse" type="ns:DeleteProductCompatibilityRestResponse"/>
      <xs:complexType name="DeleteProductCompatibilityRestRequest">
        <xs:sequence>
          <xs:element name="sku" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DeleteProductCompatibilityRestResponse" restResponse="true">
        <xs:sequence>
          <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
          <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetProductCompatibilityRestRequest" type="ns:GetProductCompatibilityRestRequest"/>
      <xs:element name="GetProductCompatibilityRestResponse" type="ns:GetProductCompatibilityRestResponse"/>
      <xs:complexType name="GetProductCompatibilityRestRequest">
        <xs:sequence>
          <xs:element name="sku" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetProductCompatibilityRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:Compatibility">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="PublishOfferByInventoryItemGroupRestRequest" type="ns:PublishOfferByInventoryItemGroupRestRequest"/>
      <xs:element name="PublishOfferByInventoryItemGroupRestResponse" type="ns:PublishOfferByInventoryItemGroupRestResponse"/>
      <xs:complexType name="PublishOfferByInventoryItemGroupRestRequest">
        <xs:complexContent>
          <xs:extension base="ns:PublishByInventoryItemGroupRequest"/>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="PublishOfferByInventoryItemGroupRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:PublishResponse">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="WithdrawOfferRestRequest" type="ns:WithdrawOfferRestRequest"/>
      <xs:element name="WithdrawOfferRestResponse" type="ns:WithdrawOfferRestResponse"/>
      <xs:complexType name="WithdrawOfferRestRequest">
        <xs:sequence>
          <xs:element name="offerId" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="WithdrawOfferRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:WithdrawResponse">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:documentation>
    <Version>v1</Version>
  </wsdl:documentation>
  <wsdl:portType>
    <wsdl:operation name="BulkUpdatePriceAndQuantity" method="POST" resource="bulk_update_price_quantity">
      <wsdl:input message="ns:BulkUpdatePriceAndQuantityRestRequest"/>
      <wsdl:output message="ns:BulkUpdatePriceAndQuantityRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="CreateOrReplaceInventoryItem" method="PUT" resource="inventory_item/{sku}">
      <wsdl:input message="ns:CreateOrReplaceInventoryItemRestRequest"/>
      <wsdl:output message="ns:CreateOrReplaceInventoryItemRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="DeleteInventoryItem" method="DELETE" resource="inventory_item/{sku}">
      <wsdl:input message="ns:DeleteInventoryItemRestRequest"/>
      <wsdl:output message="ns:DeleteInventoryItemRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetInventoryItem" method="GET" resource="inventory_item/{sku}">
      <wsdl:input message="ns:GetInventoryItemRestRequest"/>
      <wsdl:output message="ns:GetInventoryItemRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetInventoryItems" method="GET" resource="inventory_item">
      <wsdl:input message="ns:GetInventoryItemsRestRequest"/>
      <wsdl:output message="ns:GetInventoryItemsRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="CreateOrReplaceInventoryItemGroup" method="PUT" resource="inventory_item_group/{inventoryItemGroupKey}">
      <wsdl:input message="ns:CreateOrReplaceInventoryItemGroupRestRequest"/>
      <wsdl:output message="ns:CreateOrReplaceInventoryItemGroupRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="DeleteInventoryItemGroup" method="DELETE" resource="inventory_item_group/{inventoryItemGroupKey}">
      <wsdl:input message="ns:DeleteInventoryItemGroupRestRequest"/>
      <wsdl:output message="ns:DeleteInventoryItemGroupRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetInventoryItemGroup" method="GET" resource="inventory_item_group/{inventoryItemGroupKey}">
      <wsdl:input message="ns:GetInventoryItemGroupRestRequest"/>
      <wsdl:output message="ns:GetInventoryItemGroupRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="BulkMigrateListings" method="POST" resource="bulk_migrate_listing">
      <wsdl:input message="ns:BulkMigrateListingsRestRequest"/>
      <wsdl:output message="ns:BulkMigrateListingsRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="CreateInventoryLocation" method="POST" resource="location/{merchantLocationKey}">
      <wsdl:input message="ns:CreateInventoryLocationRestRequest"/>
      <wsdl:output message="ns:CreateInventoryLocationRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="DeleteInventoryLocation" method="DELETE" resource="location/{merchantLocationKey}">
      <wsdl:input message="ns:DeleteInventoryLocationRestRequest"/>
      <wsdl:output message="ns:DeleteInventoryLocationRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="DisableInventoryLocation" method="POST" resource="location/{merchantLocationKey}/disable">
      <wsdl:input message="ns:DisableInventoryLocationRestRequest"/>
      <wsdl:output message="ns:DisableInventoryLocationRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="EnableInventoryLocation" method="POST" resource="location/{merchantLocationKey}/enable">
      <wsdl:input message="ns:EnableInventoryLocationRestRequest"/>
      <wsdl:output message="ns:EnableInventoryLocationRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetInventoryLocation" method="GET" resource="location/{merchantLocationKey}">
      <wsdl:input message="ns:GetInventoryLocationRestRequest"/>
      <wsdl:output message="ns:GetInventoryLocationRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetInventoryLocations" method="GET" resource="location">
      <wsdl:input message="ns:GetInventoryLocationsRestRequest"/>
      <wsdl:output message="ns:GetInventoryLocationsRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="UpdateInventoryLocation" method="POST" resource="location/{merchantLocationKey}/update_location_details">
      <wsdl:input message="ns:UpdateInventoryLocationRestRequest"/>
      <wsdl:output message="ns:UpdateInventoryLocationRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="CreateOffer" method="POST" resource="offer">
      <wsdl:input message="ns:CreateOfferRestRequest"/>
      <wsdl:output message="ns:CreateOfferRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="DeleteOffer" method="DELETE" resource="offer/{offerId}">
      <wsdl:input message="ns:DeleteOfferRestRequest"/>
      <wsdl:output message="ns:DeleteOfferRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetListingFees" method="POST" resource="offer/get_listing_fees">
      <wsdl:input message="ns:GetListingFeesRestRequest"/>
      <wsdl:output message="ns:GetListingFeesRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetOffer" method="GET" resource="offer/{offerId}">
      <wsdl:input message="ns:GetOfferRestRequest"/>
      <wsdl:output message="ns:GetOfferRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetOffers" method="GET" resource="offer">
      <wsdl:input message="ns:GetOffersRestRequest"/>
      <wsdl:output message="ns:GetOffersRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="PublishOffer" method="POST" resource="offer/{offerId}/publish">
      <wsdl:input message="ns:PublishOfferRestRequest"/>
      <wsdl:output message="ns:PublishOfferRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="WithdrawOffer" method="POST" resource="offer/{offerId}/withdraw">
      <wsdl:input message="ns:WithdrawOfferRestRequest"/>
      <wsdl:output message="ns:WithdrawOfferRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="UpdateOffer" method="PUT" resource="offer/{offerId}">
      <wsdl:input message="ns:UpdateOfferRestRequest"/>
      <wsdl:output message="ns:UpdateOfferRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="CreateOrReplaceProductCompatibility" method="PUT" resource="inventory_item/{sku}/product_compatibility">
      <wsdl:input message="ns:CreateOrReplaceProductCompatibilityRestRequest"/>
      <wsdl:output message="ns:CreateOrReplaceProductCompatibilityRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="DeleteProductCompatibility" method="DELETE" resource="inventory_item/{sku}/product_compatibility">
      <wsdl:input message="ns:DeleteProductCompatibilityRestRequest"/>
      <wsdl:output message="ns:DeleteProductCompatibilityRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetProductCompatibility" method="GET" resource="inventory_item/{sku}/product_compatibility">
      <wsdl:input message="ns:GetProductCompatibilityRestRequest"/>
      <wsdl:output message="ns:GetProductCompatibilityRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="PublishOfferByInventoryItemGroup" method="POST" resource="offer/publish_by_inventory_item_group">
      <wsdl:input message="ns:PublishOfferByInventoryItemGroupRestRequest"/>
      <wsdl:output message="ns:PublishOfferByInventoryItemGroupRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
