wsdls/Marketing.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema>
      <xs:element name="BulkCreateAdsByInventoryReferenceRestRequest" type="ns:BulkCreateAdsByInventoryReferenceRestRequest"/>
      <xs:element name="BulkCreateAdsByInventoryReferenceRestResponse" type="ns:BulkCreateAdsByInventoryReferenceRestResponse"/>
      <xs:complexType name="BulkCreateAdsByInventoryReferenceRestRequest">
        <xs:complexContent>
          <xs:extension base="ns:BulkCreateAdsByInventoryReferenceRequest">
            <xs:sequence>
              <xs:element name="campaign_id" type="xs:string" valid="string" required="true"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="BulkCreateAdsByInventoryReferenceRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:BulkCreateAdsByInventoryReferenceResponse">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="BulkCreateAdsByListingIDRestRequest" type="ns:BulkCreateAdsByListingIDRestRequest"/>
      <xs:element name="BulkCreateAdsByListingIDRestResponse" type="ns:BulkCreateAdsByListingIDRestResponse"/>
      <xs:complexType name="BulkCreateAdsByListingIDRestRequest">
        <xs:complexContent>
          <xs:extension base="ns:BulkCreateAdRequest">
            <xs:sequence>
              <xs:element name="campaign_id" type="xs:string" valid="string" required="true"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="BulkCreateAdsByListingIDRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:BulkAdResponse">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="BulkDeleteAdsByInventoryReferenceRestRequest" type="ns:BulkDeleteAdsByInventoryReferenceRestRequest"/>
      <xs:element name="BulkDeleteAdsByInventoryReferenceRestResponse" type="ns:BulkDeleteAdsByInventoryReferenceRestResponse"/>
      <xs:complexType name="BulkDeleteAdsByInventoryReferenceRestRequest">
        <xs:complexContent>
          <xs:extension base="ns:BulkDeleteAdsByInventoryReferenceRequest">
            <xs:sequence>
              <xs:element name="campaign_id" type="xs:string" valid="string" required="true"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="BulkDeleteAdsByInventoryReferenceRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:BulkDeleteAdsByInventoryReferenceResponse">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="BulkDeleteAdsByListingIDRestRequest" type="ns:BulkDeleteAdsByListingIDRestRequest"/>
      <xs:element name="BulkDeleteAdsByListingIDRestResponse" type="ns:BulkDeleteAdsByListingIDRestResponse"/>
      <xs:complexType name="BulkDeleteAdsByListingIDRestRequest">
        <xs:complexContent>
          <xs:extension base="ns:BulkDeleteAdRequest">
            <xs:sequence>
              <xs:element name="campaign_id" type="xs:string" valid="string" required="true"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="BulkDeleteAdsByListingIDRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:BulkDeleteAdResponse">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="BulkUpdateAdBidsByInventoryReferenceRestRequest" type="ns:BulkUpdateAdBidsByInventoryReferenceRestRequest"/>
      <xs:element name="BulkUpdateAdBidsByInventoryReferenceRestResponse" type="ns:BulkUpdateAdBidsByInventoryReferenceRestResponse"/>
      <xs:complexType name="BulkUpdateAdBidsByInventoryReferenceRestRequest">
        <xs:complexContent>
          <xs:extension base="ns:BulkCreateAdsByInventoryReferenceRequest">
            <xs:sequence>
              <xs:element name="campaign_id" type="xs:string" valid="string" required="true"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="BulkUpdateAdBidsByInventoryReferenceRestResponse" restResponse="true">
        <xs:sequence>
          <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
          <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="BulkUpdateAdBidsByListingIDRestRequest" type="ns:BulkUpdateAdBidsByListingIDRestRequest"/>
      <xs:element name="BulkUpdateAdBidsByListingIDRestResponse" type="ns:BulkUpdateAdBidsByListingIDRestResponse"/>
      <xs:complexType name="BulkUpdateAdBidsByListingIDRestRequest">
        <xs:complexContent>
          <xs:extension base="ns:BulkCreateAdRequest">
            <xs:sequence>
              <xs:element name="campaign_id" type="xs:string" valid="string" required="true"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="BulkUpdateAdBidsByListingIDRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:BulkAdResponse">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="CreateAdByListingIDRestRequest" type="ns:CreateAdByListingIDRestRequest"/>
      <xs:element name="CreateAdByListingIDRestResponse" type="ns:CreateAdByListingIDRestResponse"/>
      <xs:complexType name="CreateAdByListingIDRestRequest">
        <xs:complexContent>
          <xs:extension base="ns:CreateAdRequest">
            <xs:sequence>
              <xs:element name="campaign_id" type="xs:string" valid="string" required="true"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="CreateAdByListingIDRestResponse" restResponse="true">
        <xs:sequence>
          <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
          <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="CreateAdsByInventoryReferenceRestRequest" type="ns:CreateAdsByInventoryReferenceRestRequest"/>
      <xs:element name="CreateAdsByInventoryReferenceRestResponse" type="ns:CreateAdsByInventoryReferenceRestResponse"/>
      <xs:complexType name="CreateAdsByInventoryReferenceRestRequest">
        <xs:complexContent>
          <xs:extension base="ns:CreateAdsByInventoryReferenceRequest">
            <xs:sequence>
              <xs:element name="campaign_id" type="xs:string" valid="string" required="true"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="CreateAdsByInventoryReferenceRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:AdReferences">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="DeleteAdByIDRestRequest" type="ns:DeleteAdByIDRestRequest"/>
      <xs:element name="DeleteAdByIDRestResponse" type="ns:DeleteAdByIDRestResponse"/>
      <xs:complexType name="DeleteAdByIDRestRequest">
        <xs:sequence>
          <xs:element name="ad_id" type="xs:string" valid="string" required="true"/>
          <xs:element name="campaign_id" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DeleteAdByIDRestResponse" restResponse="true">
        <xs:sequence>
          <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
          <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="DeleteAdsByInventoryReferenceRestRequest" type="ns:DeleteAdsByInventoryReferenceRestRequest"/>
      <xs:element name="DeleteAdsByInventoryReferenceRestResponse" type="ns:DeleteAdsByInventoryReferenceRestResponse"/>
      <xs:complexType name="DeleteAdsByInventoryReferenceRestRequest">
        <xs:complexContent>
          <xs:extension base="ns:DeleteAdsByInventoryReferenceRequest">
            <xs:sequence>
              <xs:element name="campaign_id" type="xs:string" valid="string" required="true"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="DeleteAdsByInventoryReferenceRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:AdIds">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="GetAdByIDRestRequest" type="ns:GetAdByIDRestRequest"/>
      <xs:element name="GetAdByIDRestResponse" type="ns:GetAdByIDRestResponse"/>
      <xs:complexType name="GetAdByIDRestRequest">
        <xs:sequence>
          <xs:element name="ad_id" type="xs:string" valid="string" required="true"/>
          <xs:element name="campaign_id" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetAdByIDRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:Ad">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="GetAdsRestRequest" type="ns:GetAdsRestRequest"/>
      <xs:element name="GetAdsRestResponse" type="ns:GetAdsRestResponse"/>
      <xs:complexType name="GetAdsRestRequest">
        <xs:sequence>
          <xs:element name="campaign_id" type="xs:string" valid="string" required="true"/>
          <xs:element name="limit" type="xs:string" valid="string"/>
          <xs:element name="listing_ids" type="xs:string" valid="string" required="true"/>
          <xs:element name="offset" type="xs:string" valid="string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetAdsRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:AdPagedCollection">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="GetAdsByInventoryReferenceRestRequest" type="ns:GetAdsByInventoryReferenceRestRequest"/>
      <xs:element name="GetAdsByInventoryReferenceRestResponse" type="ns:GetAdsByInventoryReferenceRestResponse"/>
      <xs:complexType name="GetAdsByInventoryReferenceRestRequest">
        <xs:sequence>
          <xs:element name="campaign_id" type="xs:string" valid="string" required="true"/>
          <xs:element name="inventory_reference_id" type="xs:string" valid="string" required="true"/>
          <xs:element name="inventory_reference_type" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetAdsByInventoryReferenceRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:Ads">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="UpdateBidRestRequest" type="ns:UpdateBidRestRequest"/>
      <xs:element name="UpdateBidRestResponse" type="ns:UpdateBidRestResponse"/>
      <xs:complexType name="UpdateBidRestRequest">
        <xs:complexContent>
          <xs:extension base="ns:UpdateBidPercentageRequest">
            <xs:sequence>
              <xs:element name="ad_id" type="xs:string" valid="string" required="true"/>
              <xs:element name="campaign_id" type="xs:string" valid="string" required="true"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="UpdateBidRestResponse" restResponse="true">
        <xs:sequence>
          <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
          <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="CloneCampaignRestRequest" type="ns:CloneCampaignRestRequest"/>
      <xs:element name="CloneCampaignRestResponse" type="ns:CloneCampaignRestResponse"/>
      <xs:complexType name="CloneCampaignRestRequest">
        <xs:complexContent>
          <xs:extension base="ns:CloneCampaignRequest">
            <xs:sequence>
              <xs:element name="campaign_id" type="xs:string" valid="string" required="true"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="CloneCampaignRestResponse" restResponse="true">
        <xs:sequence>
          <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
          <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="CreateCampaignRestRequest" type="ns:CreateCampaignRestRequest"/>
      <xs:element name="CreateCampaignRestResponse" type="ns:CreateCampaignRestResponse"/>
      <xs:complexType name="CreateCampaignRestRequest">
        <xs:complexContent>
          <xs:extension base="ns:CreateCampaignRequest">
    </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="CreateCampaignRestResponse" restResponse="true">
        <xs:sequence>
          <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
          <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="DeleteCampaignRestRequest" type="ns:DeleteCampaignRestRequest"/>
      <xs:element name="DeleteCampaignRestResponse" type="ns:DeleteCampaignRestResponse"/>
      <xs:complexType name="DeleteCampaignRestRequest">
        <xs:sequence>
          <xs:element name="campaign_id" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DeleteCampaignRestResponse" restResponse="true">
        <xs:sequence>
          <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
          <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="EndCampaignRestRequest" type="ns:EndCampaignRestRequest"/>
      <xs:element name="EndCampaignRestResponse" type="ns:EndCampaignRestResponse"/>
      <xs:complexType name="EndCampaignRestRequest">
        <xs:sequence>
          <xs:element name="campaign_id" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="EndCampaignRestResponse" restResponse="true">
        <xs:sequence>
          <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
          <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="FindCampaignByAdReferenceRestRequest" type="ns:FindCampaignByAdReferenceRestRequest"/>
      <xs:element name="FindCampaignByAdReferenceRestResponse" type="ns:FindCampaignByAdReferenceRestResponse"/>
      <xs:complexType name="FindCampaignByAdReferenceRestRequest">
        <xs:sequence>
          <xs:element name="inventory_reference_id" type="xs:string" valid="string"/>
          <xs:element name="inventory_reference_type" type="xs:string" valid="string"/>
          <xs:element name="listing_id" type="xs:string" valid="string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="FindCampaignByAdReferenceRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:Campaigns">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="GetAllCampaignsRestRequest" type="ns:GetAllCampaignsRestRequest"/>
      <xs:element name="GetAllCampaignsRestResponse" type="ns:GetAllCampaignsRestResponse"/>
      <xs:complexType name="GetAllCampaignsRestRequest">
        <xs:sequence>
          <xs:element name="campaign_name" type="xs:string" valid="string"/>
          <xs:element name="campaign_status" type="xs:string" valid="string"/>
          <xs:element name="end_date_range" type="xs:string" valid="string"/>
          <xs:element name="limit" type="xs:string" valid="string"/>
          <xs:element name="offset" type="xs:string" valid="string"/>
          <xs:element name="start_date_range" type="xs:string" valid="string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetAllCampaignsRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:CampaignPagedCollection">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="GetCampaignByNameRestRequest" type="ns:GetCampaignByNameRestRequest"/>
      <xs:element name="GetCampaignByNameRestResponse" type="ns:GetCampaignByNameRestResponse"/>
      <xs:complexType name="GetCampaignByNameRestRequest">
        <xs:sequence>
          <xs:element name="campaign_name" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetCampaignByNameRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:Campaign">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="GetCampaignByIDRestRequest" type="ns:GetCampaignByIDRestRequest"/>
      <xs:element name="GetCampaignByIDRestResponse" type="ns:GetCampaignByIDRestResponse"/>
      <xs:complexType name="GetCampaignByIDRestRequest">
        <xs:sequence>
          <xs:element name="campaign_id" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetCampaignByIDRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:Campaign">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="PauseCampaignRestRequest" type="ns:PauseCampaignRestRequest"/>
      <xs:element name="PauseCampaignRestResponse" type="ns:PauseCampaignRestResponse"/>
      <xs:complexType name="PauseCampaignRestRequest">
        <xs:sequence>
          <xs:element name="campaign_id" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PauseCampaignRestResponse" restResponse="true">
        <xs:sequence>
          <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
          <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="ResumeCampaignRestRequest" type="ns:ResumeCampaignRestRequest"/>
      <xs:element name="ResumeCampaignRestResponse" type="ns:ResumeCampaignRestResponse"/>
      <xs:complexType name="ResumeCampaignRestRequest">
        <xs:sequence>
          <xs:element name="campaign_id" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ResumeCampaignRestResponse" restResponse="true">
        <xs:sequence>
          <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
          <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="UpdateCampaignIDentificationRestRequest" type="ns:UpdateCampaignIDentificationRestRequest"/>
      <xs:element name="UpdateCampaignIDentificationRestResponse" type="ns:UpdateCampaignIDentificationRestResponse"/>
      <xs:complexType name="UpdateCampaignIDentificationRestRequest">
        <xs:complexContent>
          <xs:extension base="ns:UpdateCampaignIdentificationRequest">
            <xs:sequence>
              <xs:element name="campaign_id" type="xs:string" valid="string" required="true"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="UpdateCampaignIDentificationRestResponse" restResponse="true">
        <xs:sequence>
          <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
          <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="CreateItemPromotionRestRequest" type="ns:CreateItemPromotionRestRequest"/>
      <xs:element name="CreateItemPromotionRestResponse" type="ns:CreateItemPromotionRestResponse"/>
      <xs:complexType name="CreateItemPromotionRestRequest">
        <xs:complexContent>
          <xs:extension base="ns:ItemPromotion">
    </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="CreateItemPromotionRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:BaseResponse">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="DeleteItemPromotionRestRequest" type="ns:DeleteItemPromotionRestRequest"/>
      <xs:element name="DeleteItemPromotionRestResponse" type="ns:DeleteItemPromotionRestResponse"/>
      <xs:complexType name="DeleteItemPromotionRestRequest">
        <xs:sequence>
          <xs:element name="promotion_id" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DeleteItemPromotionRestResponse" restResponse="true">
        <xs:sequence>
          <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
          <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetItemPromotionRestRequest" type="ns:GetItemPromotionRestRequest"/>
      <xs:element name="GetItemPromotionRestResponse" type="ns:GetItemPromotionRestResponse"/>
      <xs:complexType name="GetItemPromotionRestRequest">
        <xs:sequence>
          <xs:element name="promotion_id" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetItemPromotionRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:ItemPromotionResponse">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="UpdateItemPromotionRestRequest" type="ns:UpdateItemPromotionRestRequest"/>
      <xs:element name="UpdateItemPromotionRestResponse" type="ns:UpdateItemPromotionRestResponse"/>
      <xs:complexType name="UpdateItemPromotionRestRequest">
        <xs:complexContent>
          <xs:extension base="ns:ItemPromotion">
            <xs:sequence>
              <xs:element name="promotion_id" type="xs:string" valid="string" required="true"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="UpdateItemPromotionRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:BaseResponse">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="GetListingsInSpecificPromotionRestRequest" type="ns:GetListingsInSpecificPromotionRestRequest"/>
      <xs:element name="GetListingsInSpecificPromotionRestResponse" type="ns:GetListingsInSpecificPromotionRestResponse"/>
      <xs:complexType name="GetListingsInSpecificPromotionRestRequest">
        <xs:sequence>
          <xs:element name="promotion_id" type="xs:string" valid="string"/>
          <xs:element name="limit" type="xs:string" valid="string"/>
          <xs:element name="offset" type="xs:string" valid="string"/>
          <xs:element name="q" type="xs:string" valid="string"/>
          <xs:element name="sort" type="xs:string" valid="string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetListingsInSpecificPromotionRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:ItemsPagedCollection">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="GetPromotionsRestRequest" type="ns:GetPromotionsRestRequest"/>
      <xs:element name="GetPromotionsRestResponse" type="ns:GetPromotionsRestResponse"/>
      <xs:complexType name="GetPromotionsRestRequest">
        <xs:sequence>
          <xs:element name="limit" type="xs:string" valid="string"/>
          <xs:element name="marketplace_id" type="xs:string" valid="string"/>
          <xs:element name="offset" type="xs:string" valid="string"/>
          <xs:element name="promotion_status" type="xs:string" valid="string"/>
          <xs:element name="q" type="xs:string" valid="string"/>
          <xs:element name="sort" type="xs:string" valid="string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetPromotionsRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:PromotionsPagedCollection">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="PauseAPromotionRestRequest" type="ns:PauseAPromotionRestRequest"/>
      <xs:element name="PauseAPromotionRestResponse" type="ns:PauseAPromotionRestResponse"/>
      <xs:complexType name="PauseAPromotionRestRequest">
        <xs:sequence>
          <xs:element name="promotion_id" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PauseAPromotionRestResponse" restResponse="true">
        <xs:sequence>
          <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
          <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="ResumeAPromotionRestRequest" type="ns:ResumeAPromotionRestRequest"/>
      <xs:element name="ResumeAPromotionRestResponse" type="ns:ResumeAPromotionRestResponse"/>
      <xs:complexType name="ResumeAPromotionRestRequest">
        <xs:sequence>
          <xs:element name="promotion_id" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ResumeAPromotionRestResponse" restResponse="true">
        <xs:sequence>
          <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
          <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetPromotionSummaryReportRestRequest" type="ns:GetPromotionSummaryReportRestRequest"/>
      <xs:element name="GetPromotionSummaryReportRestResponse" type="ns:GetPromotionSummaryReportRestResponse"/>
      <xs:complexType name="GetPromotionSummaryReportRestRequest">
        <xs:sequence>
          <xs:element name="marketplace_id" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetPromotionSummaryReportRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:SummaryReportResponse">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="GetSpecificReportRestRequest" type="ns:GetSpecificReportRestRequest"/>
      <xs:element name="GetSpecificReportRestResponse" type="ns:GetSpecificReportRestResponse"/>
      <xs:complexType name="GetSpecificReportRestRequest">
        <xs:sequence>
          <xs:element name="report_id" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetSpecificReportRestResponse" restResponse="true">
        <xs:sequence>
          <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
          <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetMetadataForAllReportsRestRequest" type="ns:GetMetadataForAllReportsRestRequest"/>
      <xs:element name="GetMetadataForAllReportsRestResponse" type="ns:GetMetadataForAllReportsRestResponse"/>
      <xs:complexType name="GetMetadataForAllReportsRestRequest"/>
      <xs:complexType name="GetMetadataForAllReportsRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:ReportMetadatas">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="GetMetadataForAReportTypeRestRequest" type="ns:GetMetadataForAReportTypeRestRequest"/>
      <xs:element name="GetMetadataForAReportTypeRestResponse" type="ns:GetMetadataForAReportTypeRestResponse"/>
      <xs:complexType name="GetMetadataForAReportTypeRestRequest">
        <xs:sequence>
          <xs:element name="report_type" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetMetadataForAReportTypeRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:ReportMetadata">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="CreateReportTaskRestRequest" type="ns:CreateReportTaskRestRequest"/>
      <xs:element name="CreateReportTaskRestResponse" type="ns:CreateReportTasktRestResponse"/>
      <xs:complexType name="CreateReportTaskRestRequest">
        <xs:complexContent>
          <xs:extension base="ns:CreateReportTask"/>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="CreateReportTaskRestResponse" restResponse="true">
        <xs:sequence>
          <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
          <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="DeleteSpecificReportTaskRestRequest" type="ns:DeleteSpecificReportTaskRestRequest"/>
      <xs:element name="DeleteSpecificReportTaskRestResponse" type="ns:DeleteSpecificReportTaskRestResponse"/>
      <xs:complexType name="DeleteSpecificReportTaskRestRequest">
        <xs:sequence>
          <xs:element name="report_task_id" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DeleteSpecificReportTaskRestResponse" restResponse="true">
        <xs:sequence>
          <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
          <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetReportTasksRestRequest" type="ns:GetReportTasksRestRequest"/>
      <xs:element name="GetReportTasksRestResponse" type="ns:GetReportTasksRestResponse"/>
      <xs:complexType name="GetReportTasksRestRequest">
        <xs:sequence>
          <xs:element name="limit" type="xs:string" valid="string"/>
          <xs:element name="offset" type="xs:string" valid="string"/>
          <xs:element name="report_task_statuses" type="xs:string" valid="string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetReportTasksRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:ReportTaskPagedCollection">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="GetSpecificReportTaskRestRequest" type="ns:GetSpecificReportTaskRestRequest"/>
      <xs:element name="GetSpecificReportTaskRestResponse" type="ns:GetSpecificReportTaskRestResponse"/>
      <xs:complexType name="GetSpecificReportTaskRestRequest">
        <xs:sequence>
          <xs:element name="report_task_id" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetSpecificReportTaskRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:ReportTask">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="GetAPromotionReportRestRequest" type="ns:GetAPromotionReportRestRequest"/>
      <xs:element name="GetAPromotionReportRestResponse" type="ns:GetAPromotionReportRestResponse"/>
      <xs:complexType name="GetAPromotionReportRestRequest">
        <xs:sequence>
          <xs:element name="limit" type="xs:string" valid="string"/>
          <xs:element name="marketplace_id" type="xs:string" valid="string" required="true"/>
          <xs:element name="offset" type="xs:string" valid="string"/>
          <xs:element name="promotion_status" type="xs:string" valid="string"/>
          <xs:element name="q" type="xs:string" valid="string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetAPromotionReportRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:PromotionsReportPagedCollection">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:documentation>
    <Version>v1</Version>
  </wsdl:documentation>
  <wsdl:portType>
    <wsdl:operation name="BulkCreateAdsByInventoryReference" method="POST" resource="ad_campaign/{campaign_id}/bulk_create_ads_by_inventory_reference">
      <wsdl:input message="ns:BulkCreateAdsByInventoryReferenceRestRequest"/>
      <wsdl:output message="ns:BulkCreateAdsByInventoryReferenceRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="BulkCreateAdsByListingID" method="POST" resource="campaign/{campaign_id}/bulk_create_ads_by_listing_id">
      <wsdl:input message="ns:BulkCreateAdsByListingIDRestRequest"/>
      <wsdl:output message="ns:BulkCreateAdsByListingIDRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="BulkDeleteAdsByInventoryReference" method="POST" resource="campaign/{campaign_id}/bulk_delete_ads_by_inventory_reference">
      <wsdl:input message="ns:BulkDeleteAdsByInventoryReferenceRestRequest"/>
      <wsdl:output message="ns:BulkDeleteAdsByInventoryReferenceRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="BulkDeleteAdsByListingID" method="POST" resource="campaign/{campaign_id}/bulk_delete_ads_by_listing_id">
      <wsdl:input message="ns:BulkDeleteAdsByListingIDRestRequest"/>
      <wsdl:output message="ns:BulkDeleteAdsByListingIDRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="BulkUpdateAdBidsByInventoryReference" method="POST" resource="ad_campaign/{campaign_id}/bulk_update_ads_bid_by_inventory_reference">
      <wsdl:input message="ns:BulkUpdateAdBidsByInventoryReferenceRestRequest"/>
      <wsdl:output message="ns:BulkUpdateAdBidsByInventoryReferenceRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="BulkUpdateAdBidsByListingID" method="POST" resource="ad_campaign/{campaign_id}/bulk_update_ads_bid_by_listing_id">
      <wsdl:input message="ns:BulkUpdateAdBidsByListingIDRestRequest"/>
      <wsdl:output message="ns:BulkUpdateAdBidsByListingIDRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="CreateAdByListingID" method="POST" resource="ad_campaign/{campaign_id}/ad">
      <wsdl:input message="ns:CreateAdByListingIDRestRequest"/>
      <wsdl:output message="ns:CreateAdByListingIDRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="CreateAdsByInventoryReference" method="POST" resource="ad_campaign/{campaign_id}/create_ads_by_inventory_reference">
      <wsdl:input message="ns:CreateAdsByInventoryReferenceRestRequest"/>
      <wsdl:output message="ns:CreateAdsByInventoryReferenceRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="DeleteAdByID" method="DELETE" resource="ad_campaign/{campaign_id}/ad/{ad_id}">
      <wsdl:input message="ns:DeleteAdByIDRestRequest"/>
      <wsdl:output message="ns:DeleteAdByIDRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="DeleteAdsByInventoryReference" method="POST" resource="ad_campaign/{campaign_id}/delete_ads_by_inventory_reference">
      <wsdl:input message="ns:DeleteAdsByInventoryReferenceRestRequest"/>
      <wsdl:output message="ns:DeleteAdsByInventoryReferenceRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetAdByID" method="GET" resource="ad_campaign/{campaign_id}/ad/{ad_id}">
      <wsdl:input message="ns:GetAdByIDRestRequest"/>
      <wsdl:output message="ns:GetAdByIDRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetAds" method="GET" resource="ad_campaign/{campaign_id}/ad">
      <wsdl:input message="ns:GetAdsRestRequest"/>
      <wsdl:output message="ns:GetAdsRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetAdsByInventoryReference" method="GET" resource="ad_campaign/{campaign_id}/get_ads_by_inventory_reference">
      <wsdl:input message="ns:GetAdsByInventoryReferenceRestRequest"/>
      <wsdl:output message="ns:GetAdsByInventoryReferenceRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="UpdateBid" method="POST" resource="ad_campaign/{campaign_id}/ad/{ad_id}/update_bid">
      <wsdl:input message="ns:UpdateBidRestRequest"/>
      <wsdl:output message="ns:UpdateBidRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="CloneCampaign" method="POST" resource="ad_campaign/{campaign_id}/clone">
      <wsdl:input message="ns:CloneCampaignRestRequest"/>
      <wsdl:output message="ns:CloneCampaignRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="CreateCampaign" method="POST" resource="ad_campaign">
      <wsdl:input message="ns:CreateCampaignRestRequest"/>
      <wsdl:output message="ns:CreateCampaignRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="DeleteCampaign" method="DELETE" resource="ad_campaign/{campaign_id}">
      <wsdl:input message="ns:DeleteCampaignRestRequest"/>
      <wsdl:output message="ns:DeleteCampaignRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="EndCampaign" method="POST" resource="ad_campaign/{campaign_id}/end">
      <wsdl:input message="ns:EndCampaignRestRequest"/>
      <wsdl:output message="ns:EndCampaignRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="FindCampaignByAdReference" method="GET" resource="ad_campaign/find_campaign_by_ad_reference">
      <wsdl:input message="ns:FindCampaignByAdReferenceRestRequest"/>
      <wsdl:output message="ns:FindCampaignByAdReferenceRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetAllCampaigns" method="GET" resource="ad_campaign">
      <wsdl:input message="ns:GetAllCampaignsRestRequest"/>
      <wsdl:output message="ns:GetAllCampaignsRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetCampaignByName" method="GET" resource="ad_campaign/get_campaign_by_name">
      <wsdl:input message="ns:GetCampaignByNameRestRequest"/>
      <wsdl:output message="ns:GetCampaignByNameRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetCampaignByID" method="GET" resource="ad_campaign/{campaign_id}">
      <wsdl:input message="ns:GetCampaignByIDRestRequest"/>
      <wsdl:output message="ns:GetCampaignByIDRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="PauseCampaign" method="POST" resource="ad_campaign/{campaign_id}/pause">
      <wsdl:input message="ns:PauseCampaignRestRequest"/>
      <wsdl:output message="ns:PauseCampaignRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="ResumeCampaign" method="POST" resource="ad_campaign/{campaign_id}/resume">
      <wsdl:input message="ns:ResumeCampaignRestRequest"/>
      <wsdl:output message="ns:ResumeCampaignRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="UpdateCampaignIDentification" method="POST" resource="ad_campaign/{campaign_id}/update_campaign_identification">
      <wsdl:input message="ns:UpdateCampaignIDentificationRestRequest"/>
      <wsdl:output message="ns:UpdateCampaignIDentificationRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="CreateItemPromotion" method="POST" resource="item_promotion">
      <wsdl:input message="ns:CreateItemPromotionRestRequest"/>
      <wsdl:output message="ns:CreateItemPromotionRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="DeleteItemPromotion" method="DELETE" resource="item_promotion/{promotion_id}">
      <wsdl:input message="ns:DeleteItemPromotionRestRequest"/>
      <wsdl:output message="ns:DeleteItemPromotionRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetItemPromotion" method="GET" resource="item_promotion/{promotion_id}">
      <wsdl:input message="ns:GetItemPromotionRestRequest"/>
      <wsdl:output message="ns:GetItemPromotionRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="UpdateItemPromotion" method="PUT" resource="item_promotion/{promotion_id}">
      <wsdl:input message="ns:UpdateItemPromotionRestRequest"/>
      <wsdl:output message="ns:UpdateItemPromotionRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetListingsInSpecificPromotion" method="GET" resource="promotion/{promotion_id}/get_listing_set">
      <wsdl:input message="ns:GetListingsInSpecificPromotionRestRequest"/>
      <wsdl:output message="ns:GetListingsInSpecificPromotionRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetPromotions" method="GET" resource="promotion">
      <wsdl:input message="ns:GetPromotionsRestRequest"/>
      <wsdl:output message="ns:GetPromotionsRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="PauseAPromotion" method="POST" resource="promotion/{promotion_id}/pause">
      <wsdl:input message="ns:PauseAPromotionRestRequest"/>
      <wsdl:output message="ns:PauseAPromotionRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="ResumeAPromotion" method="POST" resource="promotion/{promotion_id}/resume">
      <wsdl:input message="ns:ResumeAPromotionRestRequest"/>
      <wsdl:output message="ns:ResumeAPromotionRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetPromotionSummaryReport" method="GET" resource="promotion_summary_report">
      <wsdl:input message="ns:GetPromotionSummaryReportRestRequest"/>
      <wsdl:output message="ns:GetPromotionSummaryReportRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetSpecificReport" method="GET" resource="ad_report/{report_id}">
      <wsdl:input message="ns:GetSpecificReportRestRequest"/>
      <wsdl:output message="ns:GetSpecificReportRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetMetadataForAllReports" method="GET" resource="ad_report_metadata">
      <wsdl:input message="ns:GetMetadataForAllReportsRestRequest"/>
      <wsdl:output message="ns:GetMetadataForAllReportsRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetMetadataForAReportType" method="GET" resource="ad_report_metadata/{report_type}">
      <wsdl:input message="ns:GetMetadataForAReportTypeRestRequest"/>
      <wsdl:output message="ns:GetMetadataForAReportTypeRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="CreateReportTask" method="POST" resource="ad_report_task">
      <wsdl:input message="ns:CreateReportTaskRestRequest"/>
      <wsdl:output message="ns:CreateReportTaskRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="DeleteSpecificReportTask" method="DELETE" resource="ad_report_task/{report_task_id}">
      <wsdl:input message="ns:DeleteSpecificReportTaskRestRequest"/>
      <wsdl:output message="ns:DeleteSpecificReportTaskRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetReportTasks" method="GET" resource="ad_report_task">
      <wsdl:input message="ns:GetReportTasksRestRequest"/>
      <wsdl:output message="ns:GetReportTasksRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetSpecificReportTask" method="GET" resource="ad_report_task/{report_task_id}">
      <wsdl:input message="ns:GetSpecificReportTaskRestRequest"/>
      <wsdl:output message="ns:GetSpecificReportTaskRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetAPromotionReport" method="GET" resource="promotion_report">
      <wsdl:input message="ns:GetAPromotionReportRestRequest"/>
      <wsdl:output message="ns:GetAPromotionReportRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
