wsdls/Metadata.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema>
      <xs:element name="GetSalesTaxJurisdictionsRestRequest" type="ns:GetSalesTaxJurisdictionsRestRequest"/>
      <xs:element name="GetSalesTaxJurisdictionsRestResponse" type="ns:GetSalesTaxJurisdictionsRestResponse"/>
      <xs:complexType name="GetSalesTaxJurisdictionsRestRequest">
        <xs:sequence>
          <xs:element name="countryCode" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetSalesTaxJurisdictionsRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:SalesTaxJurisdictions">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="GetPoliciesForAutoPartsCompatibilityRestRequest" type="ns:GetPoliciesForAutoPartsCompatibilityRestRequest"/>
      <xs:element name="GetPoliciesForAutoPartsCompatibilityRestResponse" type="ns:GetPoliciesForAutoPartsCompatibilityRestResponse"/>
      <xs:complexType name="GetPoliciesForAutoPartsCompatibilityRestRequest">
        <xs:sequence>
          <xs:element name="filter" type="xs:string" valid="string"/>
          <xs:element name="marketplace_id" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetPoliciesForAutoPartsCompatibilityRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:AutomotivePartsCompatibilityPolicyResponse">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="GetPoliciesForItemConditionRestRequest" type="ns:GetPoliciesForItemConditionRestRequest"/>
      <xs:element name="GetPoliciesForItemConditionRestResponse" type="ns:GetPoliciesForItemConditionRestResponse"/>
      <xs:complexType name="GetPoliciesForItemConditionRestRequest">
        <xs:sequence>
          <xs:element name="filter" type="xs:string" valid="string"/>
          <xs:element name="marketplace_id" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetPoliciesForItemConditionRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:ItemConditionPolicyResponse">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="GetPoliciesForListingStructuresRestRequest" type="ns:GetPoliciesForListingStructuresRestRequest"/>
      <xs:element name="GetPoliciesForListingStructuresRestResponse" type="ns:GetPoliciesForListingStructuresRestResponse"/>
      <xs:complexType name="GetPoliciesForListingStructuresRestRequest">
        <xs:sequence>
          <xs:element name="filter" type="xs:string" valid="string"/>
          <xs:element name="marketplace_id" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetPoliciesForListingStructuresRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:ListingStructurePolicyResponse">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="GetPoliciesForNegotiatedPriceRestRequest" type="ns:GetPoliciesForNegotiatedPriceRestRequest"/>
      <xs:element name="GetPoliciesForNegotiatedPriceRestResponse" type="ns:GetPoliciesForNegotiatedPriceRestResponse"/>
      <xs:complexType name="GetPoliciesForNegotiatedPriceRestRequest">
        <xs:sequence>
          <xs:element name="filter" type="xs:string" valid="string"/>
          <xs:element name="marketplace_id" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetPoliciesForNegotiatedPriceRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:NegotiatedPricePolicyResponse">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="GetPoliciesForReturnsRestRequest" type="ns:GetPoliciesForReturnsRestRequest"/>
      <xs:element name="GetPoliciesForReturnsRestResponse" type="ns:GetPoliciesForReturnsRestResponse"/>
      <xs:complexType name="GetPoliciesForReturnsRestRequest">
        <xs:sequence>
          <xs:element name="filter" type="xs:string" valid="string"/>
          <xs:element name="marketplace_id" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetPoliciesForReturnsRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:ReturnPolicyResponse">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:documentation>
    <Version>v1</Version>
  </wsdl:documentation>
  <wsdl:portType>
    <wsdl:operation name="GetSalesTaxJurisdictions" method="GET" resource="country/{countryCode}/sales_tax_jurisdiction">
      <wsdl:input message="ns:GetSalesTaxJurisdictionsRestRequest"/>
      <wsdl:output message="ns:GetSalesTaxJurisdictionsRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetPoliciesForAutoPartsCompatibility" method="GET" resource="marketplace/{marketplace_id}/get_automotive_parts_compatibility_policies">
      <wsdl:input message="ns:GetPoliciesForAutoPartsCompatibilityRestRequest"/>
      <wsdl:output message="ns:GetPoliciesForAutoPartsCompatibilityRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetPoliciesForItemCondition" method="GET" resource="marketplace/{marketplace_id}/get_item_condition_policies">
      <wsdl:input message="ns:GetPoliciesForItemConditionRestRequest"/>
      <wsdl:output message="ns:GetPoliciesForItemConditionRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetPoliciesForListingStructures" method="GET" resource="marketplace/{marketplace_id}/get_listing_structure_policies">
      <wsdl:input message="ns:GetPoliciesForListingStructuresRestRequest"/>
      <wsdl:output message="ns:GetPoliciesForListingStructuresRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetPoliciesForNegotiatedPrice" method="GET" resource="marketplace/{marketplace_id}/get_negotiated_price_policies">
      <wsdl:input message="ns:GetPoliciesForNegotiatedPriceRestRequest"/>
      <wsdl:output message="ns:GetPoliciesForNegotiatedPriceRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetPoliciesForReturns" method="GET" resource="marketplace/{marketplace_id}/get_return_policies">
      <wsdl:input message="ns:GetPoliciesForReturnsRestRequest"/>
      <wsdl:output message="ns:GetPoliciesForReturnsRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
