wsdls/Taxonomy.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema>
      <xs:complexType name="ErrorDetailV3">
        <xs:sequence>
          <xs:element name="category" type="xs:string"/>
          <xs:element name="domain" type="xs:string"/>
          <xs:element name="errorId" type="xs:integer"/>
          <xs:element name="inputRefIds" type="xs:string" maxOccurs="unbounded"/>
          <xs:element name="longMessage" type="xs:string"/>
          <xs:element name="message" type="xs:string"/>
          <xs:element name="outputRefIds" type="xs:string" maxOccurs="unbounded"/>
          <xs:element name="parameters" type="ns:ErrorParameterV3" maxOccurs="unbounded"/>
          <xs:element name="subdomain" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ErrorParameterV3">
        <xs:sequence>
          <xs:element name="name" type="xs:string"/>
          <xs:element name="value" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetADefaultCategoryTreeIdRestRequest" type="ns:GetADefaultCategoryTreeIdRestRequest"/>
      <xs:element name="GetADefaultCategoryTreeIdRestResponse" type="ns:GetADefaultCategoryTreeIdRestResponse"/>
      <xs:complexType name="GetADefaultCategoryTreeIdRestRequest">
        <xs:sequence>
          <xs:element name="marketplace_id" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetADefaultCategoryTreeIdRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:BaseCategoryTree">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="GetACategoryTreeRestRequest" type="ns:GetACategoryTreeRestRequest"/>
      <xs:element name="GetACategoryTreeRestResponse" type="ns:GetACategoryTreeRestResponse"/>
      <xs:complexType name="GetACategoryTreeRestRequest">
        <xs:sequence>
          <xs:element name="category_tree_id" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetACategoryTreeRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:CategoryTree">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="GetACategorySubtreeRestRequest" type="ns:GetACategorySubtreeRestRequest"/>
      <xs:element name="GetACategorySubtreeRestResponse" type="ns:GetACategorySubtreeRestResponse"/>
      <xs:complexType name="GetACategorySubtreeRestRequest">
        <xs:sequence>
          <xs:element name="category_id" type="xs:string" valid="string" required="true"/>
          <xs:element name="category_tree_id" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetACategorySubtreeRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:CategorySubtree">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="GetSuggestedCategoriesRestRequest" type="ns:GetSuggestedCategoriesRestRequest"/>
      <xs:element name="GetSuggestedCategoriesRestResponse" type="ns:GetSuggestedCategoriesRestResponse"/>
      <xs:complexType name="GetSuggestedCategoriesRestRequest">
        <xs:sequence>
          <xs:element name="category_tree_id" type="xs:string" valid="string" required="true"/>
          <xs:element name="q" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetSuggestedCategoriesRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:CategorySuggestionResponse">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="GetItemAspectsForCategoryRestRequest" type="ns:GetItemAspectsForCategoryRestRequest"/>
      <xs:element name="GetItemAspectsForCategoryRestResponse" type="ns:GetItemAspectsForCategoryRestResponse"/>
      <xs:complexType name="GetItemAspectsForCategoryRestRequest">
        <xs:sequence>
          <xs:element name="category_id" type="xs:string" valid="string" required="true"/>
          <xs:element name="category_tree_id" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetItemAspectsForCategoryRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:AspectMetadata">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:documentation>
    <Version>v1_beta</Version>
  </wsdl:documentation>
  <wsdl:portType>
    <wsdl:operation name="GetADefaultCategoryTreeId" method="GET" resource="get_default_category_tree_id">
      <wsdl:input message="ns:GetADefaultCategoryTreeIdRestRequest"/>
      <wsdl:output message="ns:GetADefaultCategoryTreeIdRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetACategoryTree" method="GET" resource="category_tree/{category_tree_id}">
      <wsdl:input message="ns:GetACategoryTreeRestRequest"/>
      <wsdl:output message="ns:GetACategoryTreeRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetACategorySubtree" method="GET" resource="category_tree/{category_tree_id}/get_category_subtree">
      <wsdl:input message="ns:GetACategorySubtreeRestRequest"/>
      <wsdl:output message="ns:GetACategorySubtreeRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetSuggestedCategories" method="GET" resource="category_tree/{category_tree_id}/get_category_suggestions">
      <wsdl:input message="ns:GetSuggestedCategoriesRestRequest"/>
      <wsdl:output message="ns:GetSuggestedCategoriesRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetItemAspectsForCategory" method="GET" resource="category_tree/{category_tree_id}/get_item_aspects_for_category">
      <wsdl:input message="ns:GetItemAspectsForCategoryRestRequest"/>
      <wsdl:output message="ns:GetItemAspectsForCategoryRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
